body{
    font-family: sans-serif;
    text-align: center;
    background: #e9ecef;
}

.box{
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 50px;
}