body{
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f2f5;
}

.painel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0,0,0,0,1 );
}

input{
    padding: 10px;
    width: 80px;
    font-size: 18px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}